/* || APPLICATION - PRACTICE */

#app-title {
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  /* border: 2px solid red; */
}

#quit-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vw;
  cursor: pointer;
  border-radius: 0.6em;
  font-family: var(--paragraph-font);
  font-size: 16px;
  background-color: white;
}

/* height property prevents row expanding for multiline text;
  transform property balances text displacement caused by div */
td div {
  height: 18px;
  transform: translateY(-9px);
  font-family: var(--paragraph-font);
}

td button {
  /* font-size: 16px; */
  font-family: var(--paragraph-font);
  padding: 5px;
  border-radius: 0.7em;
  cursor: pointer;
  margin-bottom: 10px;
}

#show-ans {
  display: inline-block;
  font-size: 16px;
  height: 7vh;
  margin: auto 0;
  background-color: white;
}

#got-it {
  display: none;
  font-size: 16px;
  height: 7vh;
  width: 33.3%;
  margin: auto 5px;
  background-color: white;
  color: var(--my-green);
}

#try-again {
  display: none;
  font-size: 16px;
  height: 7vh;
  width: 33.3%;
  margin: auto 5px;
  background-color: white;
  color: var(--my-red);
}

/* || SCORE SCREEN */

#score-container {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  height: 85vh;
  align-items: center;
  justify-content: center;
}

#score {
  font-size: 26px;
}

#score-back-btn {
  font-size: 16px;
  font-family: var(--paragraph-font);
  padding: 5px;
  border-radius: 0.6em;
  cursor: pointer;
}
