/* APPLICATION MENU */

#app-menu {
  display: grid;
  height: 70vh;
  width: 90%;
  margin: 2vh auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

#app-menu button {
  font-family: var(--text-font);
  font-size: 18px;
}

/* APPLICATION - PRACTICE */

#app {
  display: none;
  box-sizing: border-box;
  height: 85vh;
  width: 90%;
  margin: 2vh auto;
  border: 2px solid black;
  font-size: 18px;
  padding: 20px;
}

#app-title {
  height: 10%;
  font-family: var(--heading-font);
  text-align: center;
  margin: 0 auto;
}

#app-main {
  height: 90%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  /* border: 2px solid blue; */
  border-collapse: collapse;
  text-align: center;
}

th {
  font-weight: normal;
  font-family: var(--heading-font);
}

td {
  /* border: solid 1px black; */
  word-wrap: break-word;
  font-family: var(--text-font);
  color: #6e7076;
}

/* height property prevents row expanding for multiline text;
  transform property balances text displacement caused by div */
td div {
  height: 18px;
  transform: translateY(-9px);
  font-family: var(--text-font);
}

td button {
  font-size: 18px;
  font-family: var(--text-font);
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#show-answer {
  display: block;
}

#got-it {
  display: none;
}

#try-again {
  display: none;
}
