#app {
  margin: 50px auto;
  width: 260px;
  padding: 5px;
  border: 2px solid black;
}

#app-title {
  text-align: center;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

#app-main {
  width: 250px;
  height: 350px;
  margin: 15px auto;
  /* border: 2px solid red; */
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  /* border: 2px solid blue; */
  border-collapse: collapse;
  text-align: center;
}

th {
  font-weight: normal;
}

td {
  /* border: solid 1px black; */
  word-wrap: break-word;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* height property prevents row expanding for multiline text;
  transform property balances text displacement caused by div */
td div {
  height: 18px;
  transform: translateY(-9px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

td button {
  font-size: 16px;
  padding: 5px;
  outline: none;
  background-color: rgb(173, 200, 230);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

td button:hover {
  background-color: rgb(61, 127, 150);
}

td button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
