/* JAVASCRIPT HEADER LOAD */
#js-header {
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  font-family: var(--heading-font);
}

/* HEADER FLEXBOX */

/* set flex-grow for left and right divs (operating as spans) to 1, meaning:
  -only these divs will grow
  -they both get same widths - and will eventually distribute available space
  -center element will always be perfectly centered
    */
#button-container {
  flex: 1;
  /* border: 2px solid red; */
}

#main-title {
  flex: 0;
  /* border: 2px solid blue; */
}

.flex-dummy {
  flex: 1;
  /* border: 2px solid green; */
}

/* NAV-SIDEBAR */

/* Sidebar open button */
#nav-button {
  width: 30px;
  border: none;
  background: none;
  margin-left: 15px;
  z-index: 1;
  cursor: pointer;
}

/* Sidebar menu */
#nav-sidebar {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript for on open */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  border: solid 1px lightgrey;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
}

/* Sidebar close button */
#nav-sidebar .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Sidebar menu links */
#nav-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#nav-sidebar a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #nav-sidebar {
    padding-top: 15px;
  }
  #nav-sidebar a {
    font-size: 18px;
  }
}
