h2{
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    padding-top: 20px;
}

h3{
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    padding-top: 20px;
    font-size: 20px;
}

.ar-end{
    color: red;
}

.er-end{
    color: green;
}

.ir-end{
    color: blue;
}


#learn-main{
    margin: 10px 10px;
    line-height: 20px;
  }

#learn-main p{
    margin-bottom: 20px;
}

#learn-main ul, li{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 16px;
    line-height: 25px;
}

#learn-article table{
    font-family: var(--text-font);
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: .5em;
    width: 100%;
}

#learn-article th{
    font-weight: normal;
    font-family: var(--heading-font);
    /* border: 1px solid lightgrey; */
  }
  
#learn-article td{
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
    /* border: 1px solid lightgrey; */
  }

  #learn-nav{
    font-family: var(--heading-font);
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: .5em;
}

#learn-nav ul{
    margin: 0; 
    padding: 0;
    list-style-type: none;
    line-height: 30px;
}

.to-top{
    display: block;
    margin-bottom: 35px;
    font-family: var(--heading-font);
}