h2{
    font-family: var(--heading-font);
    padding-top: 20px;
}

#learn-main{
    margin: 10px 10px;
    line-height: 20px;
  }

#learn-nav{
    font-family: var(--heading-font);
    padding: 10px;
    border: 1px solid lightgrey;
}

#learn-nav ul{
    margin: 0; 
    padding: 0;
    list-style-type: none;
    line-height: 30px;
}

#learn-main p{
    margin-bottom: 20px;
}

#learn-main #intro-text{
    margin-bottom: 20px;
}

#learn-article table{
    font-family: var(--text-font);
    box-sizing: border-box;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 100%;
}

#learn-article th{
    font-weight: normal;
    font-family: var(--heading-font);
    /* border: 1px solid lightgrey; */
  }

#learn-article th[scope=row] {
    /* color: black;  */
}
  
#learn-article td{
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
    /* border: 1px solid lightgrey; */
  }

.to-top{
    display: block;
    margin-bottom: 35px;
    font-family: var(--heading-font);
}