/* | CUSTOM PROPERTIES */

:root {
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
  --paragraph-color: rgb(74, 74, 74);
  --my-red: rgb(211, 62, 67);
  --my-green: rgb(73, 159, 104);
  --my-blue: rgb(110, 68, 255);
}

/* | GENERAL STYLES */

main {
  margin: 1vh 3vw;
}

h1, h2, h3 {
  font-family: var(--heading-font);
  font-weight: normal;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  font-size: 1.2em;
  line-height: 1.5em;
}

a, a:visited {
  color: var(--my-blue);
}

ul, ol {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  line-height: 1.5em;
  font-size: 1.2em;
}

ul ul li {
  font-size: 1.2rem;
}

span {
  white-space: pre; /* prevents Learn page verb ending explanations from spilling over lines */
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  box-sizing: border-box;
  font-family: var(--heading-font); /* default to ensure captions etc. are caught */
  font-size: 1em;
}

th {
  font-family: var(--heading-font);
  font-weight: normal;
}

td {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  height: 1.5em;
  /* border: solid 2px black; */
  word-wrap: break-word;
}

/* | UTILITIES */

.title {
  font-size: 2em;
}

.table-spaced td {
  padding: 0.3em;
}

/* | RESPONSIVE DESIGN */

@media screen and (min-width: 950px) {

  html {
    margin: 2vh 15vw;
  }

  main {
    margin: 1vh 10vw;
  }

}

@media screen and (min-width: 550px) and (max-width: 949px) {

  html {
    margin: 2vh 10vw;
  }

  main {
    margin: 1vh 7.5vw;
  }
}