:root {
  --heading-font: "Montserrat", sans-serif;
  --text-font: "Roboto", sans-serif;
  --text-color: rgba(110, 112, 118, 1);
  --text-faded: rgba(110, 112, 118, 0.2);
}

/* GENERIC CLASSES */

html {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

h1 {
  font-family: var(--heading-font);
}

h2 {
  font-family: var(--heading-font);
  margin-bottom: 40px;
}

p {
  font-family: var(--text-font);
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 40px;
  line-height: 25px;
}

/* INFO */

.info {
  margin: 50px 50px;
  line-height: 20px;
}

.info a {
  font-family: var(--text-font);
}

@media screen and (min-width: 1000px) {
  html {
    margin: 0px 100px;
  }
}

@media screen and (min-width: 1300px) {
  html {
    margin: 0px 200px;
  }
}
