/* | HEADER */

/* || Javascript header load */
#js-header {
  height: 8vh;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--heading-font);
}

/* || Header flexbox */

/* Sets flex-grow for left and right divs (operating as spans) to 1, meaning:
  -only these divs will grow
  -they both get same widths - and will eventually distribute available space
  -center element will always be perfectly centered
    */
#nav-open-btn-container {
  flex: 1;
  /* border: 2px solid red; */
}

#header-title {
  flex: 4;
  text-align: center;
  text-decoration: none;
  color: black;
  /* border: 2px solid blue; */
}

#header-flex-dummy {
  flex: 1;
  /* border: 2px solid green; */
}

/* || Nav-sidebar */

/* Sidebar open button */
#nav-open-btn {
  width: 3.5rem;
  border: none;
  background: none;
  margin-left: 1rem;
  z-index: 1;
  cursor: pointer;
}

/* || Sidebar menu */

#nav-sidebar {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript for on open */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  border: 0.1rem solid lightgrey;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4rem;
  transition: 0.5s;
}

#nav-sidebar a:hover {
  color: #f1f1f1;
}

/* || Sidebar close button */

#nav-sidebar #nav-close-btn {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 5rem;
  padding: 0;
  /* border: 2px solid black; */
}

/* || Sidebar menu links */

#nav-sidebar a {
  padding: 1rem 1rem 1rem 2.5rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--paragraph-color);
  display: block;
  transition: 0.3s;
}

/* | LEARN PAGE */

#learn-article table{
  width: 100%;
  margin-bottom: 1rem;
  border: 0.1rem solid lightgrey;
}
  
.ar-end{
  color: var(--my-red);
}
  
.er-end{
  color: var(--my-green);
}
  
.ir-end{
  color: var(--my-blue);
}
  
#learn-nav{
  font-family: var(--heading-font);
  padding: 1rem;
  border: 0.1rem solid lightgrey;
  border-radius: 2rem;
}
  
#learn-nav ul{
  margin: 0; 
  padding: 0;
  list-style-type: none;
  line-height: 2;
}
  
.to-top{
  display: block;
  margin-bottom: 1.5rem;
  font-family: var(--paragraph-font);
}

/* | APP PAGE */

/* || App menu */

#app-menu-title {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 2.25rem;
  margin: 5vh;
}

#app-menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  /* font-size: 2rem; */
  /* border: 2px solid green; */
}

#app-menu-grid button {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  border-radius: 2rem;
  font-size: 2rem;
  background-color: white;
  height: 11rem;
  width: 11rem;
  margin: 0 auto;
}

/* ||| App */

#app {
  display: none;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 1rem auto;
  border: 0.1rem solid var(--paragraph-color);
  border-radius: 2rem;
  /* font-size: 2rem; */
  padding: 0.5rem;
}

#app-title {
  margin: 0.2rem auto;
  font-size: 2rem;
  /* border: 2px solid green; */
}

#app-body{
  width: 100%;
  height: 77vh;
  table-layout: fixed;
  font-size: 2rem;
  /* border: 2px solid red; */
}

#app-quit-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  margin: 1vw;
  border-radius: 1.5rem;
  font-family: var(--paragraph-font);
  font-size: 2rem;
  background-color: white;
}

/* height property prevents row expanding for multiline text (can only set max height on div, not on td). NOTE that, in the html, the ids are  attached to the divs, rather than the tds, to ensure that they're caught as well when the text is added via javascript.

can add a transform property to balance text displacement caused by div */
td div {
  height: 1.5rem;
  /* transform: translateY(-0.5rem); */
  font-family: var(--paragraph-font);
}

/* Generic button code  */
td button {
  font-size: 2rem;
  font-family: var(--paragraph-font);
  padding: 0.3rem;
  border-radius: 2rem;
  height: 5.6rem;
  margin: auto 0;
}

#show-ans {
  display: inline-block;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: white;
}

#got-it {
  display: none;
  width: 33.3%;
  margin-right: 0.5rem;
  background-color: white;
  color: var(--my-green);
}

#try-again {
  display: none;
  width: 33.3%;
  margin-left: 0.5rem;
  background-color: white;
  color: var(--my-red);
}

/* || App score screen */

#app-score-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 85vh;
}

#app-score {
  font-size: 3rem;
}

#app-score-back-btn {
  font-size: 2rem;
  font-family: var(--paragraph-font);
  padding: 0.8rem;
  border-radius: 2rem;
}

/* ||| TEST PAGE */

#test {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid var(--paragraph-color);
}

#test-quit-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  margin: 1vw;
  border-radius: 1.5rem;
  font-family: var(--paragraph-font);
  font-size: 2rem;
  background-color: white;
}

#test-body {
  margin: auto;
  width: 100%;
  font-size: 2.5rem;
  /* border: 2px solid red; */
}

#test-body thead {
  height: 7.5rem;
  /* border: 2px solid green; */
}

#tense {
  width: 100%;
  font-weight: bold;
}

#test-body td {
  height: 7.5rem;
  /* border: 2px solid blue; */
}

#test-show-ans {
  display: inline-block;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: white;
}

#test-got-it {
  display: none;
  width: 33.3%;
  margin-right: 0.5rem;
  background-color: white;
  color: var(--my-green);
}

#test-not-it {
  display: none;
  width: 33.3%;
  margin-left: 0.5rem;
  background-color: white;
  color: var(--my-red);
}

/* || Test score screen */

#test-score-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 85vh;
}

#test-score {
  font-size: 3rem;
}

#test-score-back-btn {
  font-size: 2rem;
  font-family: var(--paragraph-font);
  padding: 0.8rem;
  border-radius: 2rem;
}