/* | HEADER */

/* || Javascript header load */
#js-header {
  height: 8vh;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--heading-font);
}

/* || Header flexbox */

/* Set flex-grow for left and right divs (operating as spans) to 1, meaning:
  -only these divs will grow
  -they both get same widths - and will eventually distribute available space
  -center element will always be perfectly centered
    */
#nav-open-btn-container {
  flex: 1;
  /* border: 2px solid red; */
}

#header-title {
  flex: 4;
  text-align: center;
  text-decoration: none;
  color: black;
  /* border: 2px solid blue; */
}

#header-flex-dummy {
  flex: 1;
  /* border: 2px solid green; */
}

/* || Nav-sidebar */

/* Sidebar open button */
#nav-open-btn {
  width: 2.2em;
  border: none;
  background: none;
  margin-left: 1em;
  z-index: 1;
  cursor: pointer;
}

/* || Sidebar menu */

#nav-sidebar {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript for on open */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid lightgrey;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4em;
  transition: 0.5s;
}

/* || Sidebar close button */

#nav-sidebar #nav-close-btn {
  position: absolute;
  top: 0;
  right: 0.7em;
  font-size: 2.2em;
  margin-left: 1em;
}

/* || Sidebar menu links */

#nav-sidebar a {
  padding: 0.5em 0.5em 0.5em 1.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--paragraph-color);
  display: block;
  transition: 0.3s;
}

/* | LEARN PAGE */

#learn-article table{
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid lightgrey;
}
  
.ar-end{
  color: var(--my-red);
}
  
.er-end{
  color: var(--my-green);
}
  
.ir-end{
  color: var(--my-blue);
}
  
#learn-nav{
  font-family: var(--heading-font);
  padding: 0.5em;
  border: 1px solid lightgrey;
  border-radius: 1em;
}
  
#learn-nav ul{
  margin: 0; 
  padding: 0;
  list-style-type: none;
  line-height: 2em;
}
  
.to-top{
  display: block;
  margin-bottom: 1.5em;
  font-family: var(--paragraph-font);
}

/* | APP PAGE */

/* || App menu */

#app-menu-title {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 1.2em;
  margin: 5vh;
}

#app-menu-grid {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-content: center;
}

#app-menu-grid button {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  border-radius: 1em;
  font-size: 1em;
  background-color: white;
  height: 6.5em;
  width: 6em;
  margin: 0 auto;
}

/* ||| App */

#app {
  display: none;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 1em auto;
  border: 1px solid var(--paragraph-color);
  border-radius: 1em;
  font-size: 1em;
  padding: 0.5em;
}

#app-title {
  margin: 0.2em auto;
  /* border: 2px solid green; */
}

#app-body{
  width: 100%;
  height: 77vh;
  /* border: 2px solid red; */
}

#quit-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vw;
  border-radius: 0.6em;
  font-family: var(--paragraph-font);
  font-size: 1em;
  background-color: white;
}

/* height property prevents row expanding for multiline text;
  transform property balances text displacement caused by div */
td div {
  height: 1em;
  transform: translateY(-0.55em);
  font-family: var(--paragraph-font);
}

/* Generic button code  */
td button {
  font-size: 1em;
  font-family: var(--paragraph-font);
  padding: 0.3em;
  border-radius: 0.7em;
  /* height: 7vh; */
  height: 2.8em;
  margin: auto 0;
}

#show-ans {
  display: inline-block;
  background-color: white;
}

#got-it {
  display: none;
  width: 33.3%;
  background-color: white;
  color: var(--my-green);
}

#try-again {
  display: none;
  width: 33.3%;
  background-color: white;
  color: var(--my-red);
}

/* || Score screen */

#score-container {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  height: 85vh;
  align-items: center;
  justify-content: center;
}

#score {
  font-size: 1.6em;
}

#score-back-btn {
  font-size: 1.3em;
  font-family: var(--paragraph-font);
  padding: 0.4em;
  border-radius: 0.7em;
}

/* | REPONSIVE DESIGN */

@media screen and (min-width: 650px) {
  #nav-sidebar a {
    font-size: 1.5em;
  }

  #nav-sidebar a:hover {
    color: #f1f1f1;
  }

  #learn-article table {
    width: 70%;
  }
}

@media screen and (min-width: 650px) and (max-width: 949px) {
  #learn-article table {
    width: 80%;
  }

}
